@{
}

<div class="row alert alert-secondary">
    <p>
        <h3>Содержание</h3>
        <span>
            <i>содержание обновляется</i>
        </span>
    </p>
    <ul>
        <li>
            <a href="#how_it_work">Как это работает</a>
        </li>
        <li>
            <a href="#correctly_work">Для корректной работы системы</a>
        </li>
        <li>
            <a href="#drivers">Сслыки на скачивание драйверов</a>
        </li>
        <li>
            <a href="#dependencies">Зависимости</a>
        </li>
    </ul>
</div>